@charset "ISO-8859-1";

body{
    height: 100%;
    width: 100%;
     background: black;
    background-image: url("../../media/logo.png");
    background-repeat: space;
    background-size: 35% 35%;
}
#SI{
    width: 50%;
    margin: auto;
    background-color: grey;
    margin-top: 2%;
    border-radius: 2%;
    color: white;
    border: solid 2px yellow;
}

nav{
	width: 1509px;
	background: yellow;
	overflow: auto;
	text-align: center;
	margin-bottom: 5px;
}
button{
	color: black;
	font: oblique bold 110% cursive;
    border-radius: 5px;
}
button{
	font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}
button:hover {
  background: yellow;
  color: royalblue;
  transition: all 0.2s linear;
  border-radius: 5px;
  -webkit-text-stroke: 0.4px white;
}
@media(max-width: 700px){
	form{
		flex-direction: column;
	}
	button{
		padding: 0px 0px;
	}
}
form{
  width: cover;
  height: cover;
  margin: auto;
  background-color: grey;
  color: rgb(255, 255, 255);
  border-radius: 2%;
  padding-left: 5%;
  padding-bottom: 15px;
}
form button{
	float:  right;

}
