@charset "ISO-8859-1";
@charset "ISO-8859-1";
#body{
	width: 1200px;
	height: 100%;
	background-color: rgb(0,0,0);
	margin: auto;
}
header{
	width: 1200px;
	 background-color: #333;
	border: 1px solid yellow;
	}
header #log{
		width: 120px;
		padding-top:10px;
	}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#inicio{
	width: 100%;
	height: 100%;
	background: black;
	border: 1px solid yellow;
	padding-top: 15px;
	color: white;
}
#prod1{
	width: 100%;
	height: 410px;
	border-top: 1px solid #1cd3e0;
}
#fuego{
	border-radius: 8px;
	width: 159px;
	height: relative;
	background: white;
	color:black;
	float: left;
	margin: 1rem;
	margin-left: 14rem;
	background: #c0c0c0;
}
#fuego img{
	border-radius: 20px;
	width: 150px;
	height: 150px;
}
.boton {
    padding: 4px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
    float: left;
}
.boton2 {
    padding: 4px 25px;
    background: red;
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
    float: left;
}
#p{
	background: #c0c0c0;
	border-radius: 8px;
	width: 150px;
	height: relative;
	color:black;
	float: left;
	margin: 1rem;
	margin-left: 90px;
}
#p img{
	border-radius: 20px;
	width: 150px;
	height: 150px;
}
#f{
    background: #c0c0c0;
	border-radius: 8px;
	width: 150px;
	height: relative;
	color:black;
	float: left;
	margin: 1rem;
	margin-left: 90px;
}
#f img{
	border-radius: 20px;
	width: 150px;
	height: 150px;
}
footer{
	width: 1200px;
	height: relative;
	overflow: auto;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	border: 1px solid yellow;
	text-align: center;
	color: aliceblue;
}
footer button{
	width: 100px;
	height: 30px;
	font-size: 15px;
	background: #e01c1c;
	color: aliceblue;
}
footer button:hover{
	background: rgb(0, 20, 133);
	color: rgb(200, 205, 50);
	transition: all 0.2s linear;
	-webkit-text-stroke: 0.1px white;
  }
footer #ayuda{
	width: 230px;
	height: 100%;
	border-right: 2px solid #949e94;   
	border-left: 2px solid #949e94;
	float: left;
	margin-left: 250px;
}
footer #conct{
	width: 230px;  
	float: left;
	height: 100%;
}
footer #ayuda2{
	width: 230px;
	border-right: 2px solid #949e94;   
	border-left: 2px solid #949e94;
	float: left;
	padding-bottom: 24px;
}