   .listado{
   	display: flex;
   	flex-direction: column;
   	flex-wrap: wrap;
   }
   
   .articulo{
    display: flex;
    flex-basis: 33.333333%
   }
   .card-body{
     text-align: center;
   }

  .card-boton{
     text-decoration: none;
   }

   .card-pie{
     overflow: hidden;
    }

  .card{
   	display: flex;
   	flex-direction: column;
   }

  .card button{
   width: 100%;
  }

   .card-header{
     text-align: center;
   }

   .card-header p{
    font-size: 3rem;
   }

	.tabla-productos-home{
		margin-top: 30px;
	}
	
	.form-crear-producto{
		display: flex;
		flex-direction: column;
	}
     @media screen and (  min-width: 1024px) and (max-width:2000px) {
     .listado{
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
     }
     
    }
    
    
    .form-login{
    	display : flex;
    	border: 1px;
    	padding: 2px 4px;
    	flex-direction: column;
	}
    
	.form-back{
		width: 30rem;
		border-radius: 10px;	
	}
	
	.div-form-login{
	    display: flex;
	    justify-content: center;
	}

