body{
    height: 100%;
    width: 100%;
    margin: auto;
    background: black;
}
#SI{
    width: 40%;
    margin: auto;
    background-color: blue;
    margin-top: 100px;
    border-radius: 2%;
    color: white;
}

nav{
	width: 1509px;
	background: yellow;
	overflow: auto;
	text-align: center;
	margin-bottom: 5px;
}
button{
	color: black;
	font: oblique bold 110% cursive;
    border-radius: 5px;
}
button{
	font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}
button:hover {
  background: yellow;
  color: royalblue;
  transition: all 0.2s linear;
  border-radius: 5px;
  -webkit-text-stroke: 0.4px white;
}
@media(max-width: 700px){
	form{
		flex-direction: column;
	}
	button{
		padding: 0px 0px;
	}
}
form{
  width: cover;
  margin: auto;
  background-color: blue;
  color: rgb(255, 255, 255);
  border-radius: 2%;
}
.modal-contenido{
    background: gray;
    color:white;
    -webkit-text-stroke: 0.1px black;
    border-radius: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    flex-direction: column;
    margin: 10% auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 0.8rem;


  }
  .modal{
	background-color: rgba(0,0,0,.8);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:0;
	pointer-events:none;
	transition: all 1s;
  }
  #miModal:target{
	opacity:1;
	pointer-events:auto;
  }